@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');
body{
    padding: 0px;
    margin:0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}
.footer-footer {height:300px; width: 1500px;background-color:black;color:white;
padding-left: 60px;
padding-top: 50px;
}
.foot-part{
display: flex;
}
.col-2,.col-2,.col-3,.col-4{
    padding-left: 110px;
}
.col-5{
    padding-left:110px;
}
.col1-p{
    margin-top: 40px;
    font-size: 16px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
.hh3{
    padding-bottom:-5px;
    font-size: 16px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}

a{
     color: white;
     text-decoration: none;
    padding-top: 40px;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.sub-h1{
    font-size:40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.team,.more2,.more{
    padding:7px;
}
.team1,.more1,.more11{
    padding:7px 7px 2px 7px;
}
.bar{
width:450px;
height:45px;
background-color: black;
color: white;
border: solid 1px #4E4D4F;
padding-left:5px;
}
.sub-botton{
    padding:14px;
    margin-left: -5px;
}
.icons{
    display: flex;
  
}
.insta,.link,.facebook,.twit{
    margin: 5px;
}
.endp{
    text-align: center;
    margin-top: 70px;
    margin-right:120px;
    font-size:12px;
    font-weight:normal;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-device-width : 1000px) and (max-device-width : 2700px){
    .second-footer{
        display:none;
    }
}
@media only screen and (min-device-width : 300px) and (max-device-width : 480px){
    .footer-footer {
        display:none;
        }
     .second-footer{
         margin-top: 80px;
        height:500px; 
        width: 164%;
        background-color:black;
        color:white; 
     }
     .para{
         font-size:14px;
     }
     body{
         margin:0px;
         padding:0px;
     }
     .second-bar{
         margin-left:32px;
         width:401.46px;
         height:42px;
         background-color: black;
         color: white;
         border: solid 1px #4E4D4F;
         padding-left:5px;
     }
     .flex-flex{
         display:flex;
         
     }
     .end{
         display:none;
     }
     .second-team,.second-more2,.second-more{
        padding:7px;
    }
    .second-team1,.second-more1,.second-more11{
        padding:7px 7px 2px 7px;
    }
    .second-scol-2{
        margin-right:1px;
    }
    .second-scol-3{
     margin-left:20px;
    }
    .second-scol-4{
        margin-left:20px;
    }
    .second-scol-2,.second-scol-2,.second-scol-3,.second-scol-4{
        padding-left: 70px;
    }
    .second-sub-h1{
        font-size:24px;
        line-height:35px;
        padding:10px 30px 0px 34px;
    }
    .kadaisi{
        display:flex;
        flex-direction:column;
    }
    .second-col1{
        margin-left:110px;
    }
    .second-icons{
        display:flex;
        margin-left:164px;
    }
    .second-insta,.second-link,.second-facebook,.second-twit{
       padding:10px;
    }
    .endpart{
        margin-top:30px;
    }
    .second-col1-p{
        margin-left:86px;
    }
    .second-icons{
        margin-left:195px;
    }
    .second-endp{
        font-size:12px;
        display:flex;
        text-align:center;
        justify-content:center;
        margin-top:20px;
    }
}