@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');
body{
    padding: 0px;
    margin:0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.one,.one1{
    display: flex;
    flex-direction: row;
}
.one{
    height:825px;
    background-color: #EFF7F2;
}
.goalcard{
    display:flex;
    padding:10px 0px 25px 0px;
}
.secondhalf{
    width:512px;
    height:528px;
    background-color:white;
    padding: 30px -20px 5px 90px;
    margin-top:150px;
    margin-left:200px;
    border-radius: 10px;
}
.goal-htag{
    padding-left: 10px;
}
.firsthalf{
    margin-top:130px;
    margin-left: 110px;
}
.our-goal{
    font-size: 35px;
    font-weight: bold;
}
.our-goalp{
    line-height:25px;
    font-size: 16px;
    margin-top:-30px;
    height:59px;
    width:496px;
}
.goal-button2{
    width:178px;
    height:51px;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:10px;
    padding:14px;
    border-radius: 4px;
    border:none;
    background-color: #0E8932;
    color: #FFFFFF;
}

.top{
  margin:-8px 50px 0px 0px;
  font-size: 16px;
  color: #D95D02;
}
.top1{
  margin-bottom:-20px;
}
.orangeline{
  margin-right:20px;
  margin-left:-30px;
}
.goal-htag p{
    font-size: 16px;
}

.heading{
    color:#1C1D28;
    text-align:justify;
    padding-right:100%;
    height:60px;
    width:290px;
    font-weight:900;
    font-size:20px;
    font-family:'roboto'
 
  }
  .content{
    color:#525560;
    height:52px;
    width:290px;
    text-align:justify;
    font-size: 16px;
    font-family: 'roboto';
    margin-top: -18px;
    margin-bottom:5px;
  }
  .card{
    margin-bottom: -170px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    transition:color 0.2s linear;
    margin-right: 42px;
  }
  
  .card-item{
    left:50px;
    height: 320px;
    width:250px;
    margin:10px;
    background-color:white;
    border-radius: 15px;
    transition:0;
    margin:38px;
  }
  .card-image{
    border-radius:8px;
    width:303px;
    height:192px;
    background-color: white;
    background-size: cover;
  }
  .pic1{
    background-image:url("Thumbnail.png")
  }
  .pic2{
    background-image: url("Thumbnail\ \(1\).png");
  }
  .pic3{
    background-image: url("Thumbnail\ \(2\).png");
  }
  .pic4{
    background-image: url("Thumbnail\ \(3\).png");
  }
  .read{
    font-family: 'roboto';
  }

  .green-card{
    margin:15px;
     width:628px;
     height:180px;
     background-color: #BEF3C0  ;
   }
   .greens{
     display:flex;
     justify-content: center;
     flex-wrap: wrap;
     transition:color 0.2s linear;
    
   }
   .total-card{
     display:flex;
     justify-content: center;
     flex-wrap: wrap;
   }
   .in{
     display:flex;
     justify-content: center;
     flex-wrap: wrap; 
     margin: 50px;
     font-family:'roboto'
   }
  
   .in2{
     margin-left:40px;
   }
   .in22{
     margin-left:40px;
   }
   h3{
     font-weight:900;
     font-size:20px;
     font-family:'roboto';
   }
   .in1{
   margin-left:-100px;
   margin-top: -50px;
   }
   .in11{
     margin-left:-180px;
     margin-top: -50px;
     }
 h2{
   font-size: 48px;
   font-family:'roboto';
   width:55px;
   height:58px;
 }
 .month{
   font-family:'roboto';
   margin-top:-50px;
   width:33px;
   height:19px;
 }
 .month2{
   font-family:'roboto';
   margin-top:-50px;
   width:33px;
   height:19px;
 }
 .events{
   font-size: 16px;
   font-family: 'roboto';
   margin-top: -5px;
   margin-left:-10px;
   width:129px;
   height:19px;
 
 }
 .events2{
   font-size: 16px;
   font-family: 'roboto';
   margin-top: -5px;
   margin-left:-10px;
   width:129px;
   height:19px;
 
 }
 .program{
   margin-left:-10px;
   
 }
 .program2{
   margin-left:-10px;
   
 }
 .line1 { 
    color: #0c0d0f;
    background-color:#0c0d0f;
    border-width: 1px;
    width:40px;
    margin-top: -25px;
    margin-left:90px;
  } 
  .line2{ 
    color: #0c0d0f;
    background-color:#0c0d0f;
    border-width: 1px;
    width:40px;
    margin-top: -25px;
  } 
  .third{
      margin-top:50px;
  }
  .read{
    text-align: left;
    margin-top: 100px;
    margin-left: 110px;
  }
  .readd{
    font-family:'roboto' ;
    text-align: left;
    margin-top: 230px;
    margin-left: 100px;
  }
  .upcoming{
   margin-top: 80px;
  }
  .upcomingh1{
    text-align: center;
    align-items: center;
  }
  .upcomingp{
   text-align: center;
  }
  .dot{
    display:hidden;
  }
  .secondhalf1{
    display:none;
  }
  .dot,.dot1{
    display:none;
  }
  .top1{
    display:flex;
  }
  @media only screen and (min-device-width : 300px) and (max-device-width : 480px){
    .card{
      margin-right:-123px;
    }
    .heading{
     padding-right:60%;
    }
    .read{
      margin-top:50px;
      margin-left:70px;
    }
    .readd{
      margin-left:70px;
    }
    
    .card-item{
      margin-top: 10px;
    }
    .one,.one1{
      display:flex;
      flex-direction:column;
    }
    .secondhalf{
      display:none;
    }
    .one{
      width:160%;
    }
    .firsthalf{
     margin-left:78px;
    }
    .our-goal{
      font-size:20px;
      height:28px;
      width:328px;
      padding-left:10px;
    }
    .our-goalp{
      font-size:16px;
      padding:110px 0px 10px 10px;
      height:79px;
      width:339px;
      line-height:25px;
      }
    .secondhalf1{
      display:flex;
      flex-direction:column;
    }
    .SH{
      display:flex;
      flex-direction:row;
    }
    .dot{
      margin-top:20px;
      
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    .dot1{
      display:none;
    }
    .goal-htag1{
      padding-left: 10px;
  }
  .goalcard1{
  
    display:flex;
    padding:50px 0px 25px 0px;
}
 .goal-img1{
   margin-right:20px;
   width:302px;
   height:192px;
 }
 .SH{
   margin-left:114px;
 }
 .goal-card1{
   margin-left:117px;
   margin-right:30px;
 }
 .firsthalf{
   margin-left:117px;
 }
 .secondhalf{
   margin-right:40px;
 }
 .goalcard1{
   background-color:white;
   border-radius:25px;
   padding:20px 5px 20px 10px;
   margin-top:20px;
   margin-bottom:20px;
 }
 .one{
  height:910px;
  background-color: #EFF7F2;
}
.goal-img1{
  margin-left:10px;
}
.card-item{
  margin-top:80px;
}
.green-card {
  margin-right: -37%;
  margin-top: 15px;
  width: 507px;
  height: 159px;
  background-color: #BEF3C0;
}
.upcoming{
  margin-left:114px;
  margin-bottom:-40px;
}
.upcomingh1{
  height:29px;
  width:348px;
  font-size:26px;
}
.upcomingp{
  height:52px;
  width:346px;
  line-height:30px;
}
  }